<form
  [formGroup]="filterForm"
  #employeeListForm="ngForm"
  class="filter-border m-1"
  [ngStyle]="{
    'border-color': filter.isEmpty() ? 'grey' : 'green'
  }">
  <mat-form-field class="m-1">
    <input
      type="text"
      formControlName="orderRef"
      matInput
      placeholder="{{ 'Order Ref' | translate }}"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      type="text"
      formControlName="sessionId"
      matInput
      placeholder="{{ 'Session ID' | translate }}"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      type="text"
      formControlName="receiptNumber"
      matInput
      placeholder="{{ 'Receipt Number' | translate }}"
    />
  </mat-form-field>
  <mat-form-field class="m-1">
    <input
      type="text"
      formControlName="employee"
      matInput
      placeholder="{{ 'Employee Name' | translate }}"
    />
  </mat-form-field>
</form>
@if (datasource && datasource.length > 0)  {
 <app-our-table [dataSource]="datasource" [columns]="columns"></app-our-table>
  <mat-paginator
    [length]="length"
    [pageSize]="filter.page_size"
    [pageSizeOptions]="pageSizeOptions"
    (page)="frontFilter($event)"
  >
  </mat-paginator>
}
<div [hidden]="datasource !== undefined">
  <mat-spinner></mat-spinner>
  <h4>{{ 'Please wait a bit...' | translate }}</h4>
</div>
@if (datasource && datasource.length === 0 ){
  <div  class="centered">
    <h3>{{ 'No employees available' | translate }}</h3>
  </div>
}
