<table mat-table [dataSource]="dataSource">
  @for (col of columns; track col) {
    <ng-container [matColumnDef]="col.value">
      <th mat-header-cell *matHeaderCellDef>{{ col.viewValue | translate }}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="col.parentClasses" (click)="col.onClick(element)">
        @if (col.type === tableColumnType.Text) {
          {{ col.useTranslation ? (element[col.value] | translate) : element[col.value] }}
        } @else if (col.type === tableColumnType.Date) {
          {{ element[col.value] | date }}
        } @else if (col.type === tableColumnType.Icon) {
          <mat-icon [ngClass]="col.childClasses">{{ col.icon?? element[col.value]}}</mat-icon>
        } @else if (col.type === tableColumnType.StaticText) {
          {{ col.staticValue }}
        }
      </td>
    </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
